<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Resource/js/jquery.min.js"></script>

    <link rel="stylesheet" href="Resource/css/Assignment.css">
    <link rel="stylesheet" href="Resource/css/bootstrap.css">
    <link rel="stylesheet" href="Resource/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="Resource/images/Logo.png">
    <title>Login</title>

    <script src="Resource/js/bootstrap.bundle.js"></script>
</head>

<body>






    <div class="container d-flex signUp p-0 w-100 mb-5">
        <div class="text-center w-75">
            <header class="fs-3 position-relative fw-bold text-light w-100">ĐỔI MẬT KHẨU</header>
            <form name="form1" class="form-group mt-5 mb-5">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Mật khẩu cũ"
                            ng-model="user.pass">
                        <label for="floatingInputGroup1">Mật khẩu cũ</label>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="NewPassword" required placeholder="Mật khẩu mới"
                        ng-model="user.newpass">
                    <label for="floatingPassword">Mật khẩu mới</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="ConfirmPassword" required placeholder="Nhập lại mật khẩu"
                        ng-model="user.confirmpass">
                    <label for="floatingPassword">Nhập lại mật khẩu</label>
                </div>




                <br>
                <button type="submit" class="btn btn-primary d-inline-flex m-5" ng-click="Change()">
                    Đổi mật khẩu
                </button>
                <br>
                <div id="Hinh" class="d-inline ">
                    <a href="#" class="m-2"><img src="Resource/images/Google.png" alt=""></a>
                    <a href="#" class="m-2"><img src="Resource/images/x.png" alt=""></a>
                    <a href="#" class="m-2"><img src="Resource/images/facebook.png" alt=""></a>
                    <a href="#" class="m-2"><img src="Resource/images/Apple.png" alt=""></a>
                </div>
            </form>
        </div>
    </div>


</body>