<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Resource/css/Assignment.css">
    <link rel="stylesheet" href="/Resource/css/bootstrap.css">
    <link rel="icon" type="image/png" href="/Resource/images/Logo.png">
    <title>Home</title>
    <script src="/Resource/js/bootstrap.bundle.js"></script>
    <script src="/Resource/js/angular.min.js"></script>
    <script src="/Resource/js/angular-route.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="homeCtrl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 fs-3 fixed-top d-none " id="navbar-sm">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling">
            <span class="navbar-toggler-icon"></span></button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header d-flex justify-content-end">
                <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown fs-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/Resource/images/profile.png" alt="" class="icon">
                            {{user.username}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!Signup.html">Đăng ký</a></li>
                            <li><a class="dropdown-item" href="#!Login.html">Đăng nhập</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="#!ChangePassword.html">Đổi mật khẩu</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Tải xuống</a></li>
                            <li><a class="dropdown-item" href="#">Hỗ trợ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" ng-click="Signout()">Đăng xuất</a></li>
                            <li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown fs-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/Resource/images/earth.png" alt="" class="icon">
                            Ngôn ngữ
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="/Resource/images/united-kingdom.png" alt=""
                                        class="navbar-toggler-icon m-1">English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="/Resource/images/vietnam.png" alt=""
                                        class="navbar-toggler-icon m-1">Tiếng Việt
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item fs-5">
                        <a class="nav-link" aria-current="page" href="#!Cart.html">
                            <img src="/Resource/images/trolley.png" class="icon" alt=""></img>
                            Giỏ hàng
                        </a>
                    </li>
                </ul>


            </div>
        </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 fs-3 fixed-top mb-5" id="navbar-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="Home.html">
                            <img src="/Resource/images/Logo.png" alt=""></img>
                        </a>
                    </li>
                </ul>



                <form class="d-flex nav-item w-25" role="search">
                    <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search"
                        ng-model="searchProduct">
                    <button class="btn btn-outline-success" ng-click="SubmitSearch(searchProduct)">Search</button>
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item fs-5">
                        <a class="nav-link" aria-current="page" href="#!Cart.html">
                            <img src="/Resource/images/trolley.png" class="icon" alt=""></img>
                            Giỏ hàng
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown fs-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/Resource/images/earth.png" alt="" class="icon">
                            Ngôn ngữ
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="/Resource/images/united-kingdom.png" alt=""
                                        class="navbar-toggler-icon m-1">English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="/Resource/images/vietnam.png" alt=""
                                        class="navbar-toggler-icon m-1">Tiếng Việt
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown fs-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/Resource/images/profile.png" alt="" class="icon">
                            {{user.username}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!Signup.html">Đăng ký</a></li>
                            <li><a class="dropdown-item" href="#!Login.html">Đăng nhập</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="#!ChangePassword.html">Đổi mật khẩu</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Tải xuống</a></li>
                            <li><a class="dropdown-item" href="#">Hỗ trợ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" ng-click="Signout()">Đăng xuất</a></li>
                            <li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- VIEW -->
    <div ng-view>

    </div>

    <div class="container text-center ">
        <hr class=" mt-5 mb-5">
        <div class="row row-cols-2 row-cols-lg-4 g-3 mt-5 mb-5 d-flex justify-content-between text-start ">
            <div class="col row takeCare">
                <h6>CHĂM SÓC KHÁCH HÀNG</h6>
                <a href="#" class=" text-decoration-none ">Trung Tâm Trợ Giúp</a>
                <a href="#" class="text-decoration-none ">Hướng Dẫn Mua Hàng</a>
                <a href="#" class="text-decoration-none ">Thanh Toán</a>
                <a href="#" class="text-decoration-none ">Chính Sách Bảo Hành</a>
                <a href="#" class="text-decoration-none ">Trả hàng & Hoàn tiền</a>
            </div>
            <div class="col row takeCare">
                <h6>VỀ ED</h6>
                <a href="#" class=" text-decoration-none ">Giới thiệu ED Việt Nam</a>
                <a href="#" class="text-decoration-none ">Tuyển dụng</a>
                <a href="#" class="text-decoration-none ">Điều Khoản</a>
                <a href="#" class="text-decoration-none ">Chính Sách Bảo Mật</a>
                <a href="#" class="text-decoration-none ">Liên Hệ Với Truyền Thông</a>
            </div>
            <div class="col row takeCare">
                <h6>THANH TOÁN</h6>
                <a href="#!Payment.html" class=" text-decoration-none "><img src="/Resource/images/visa.png" alt=""
                        class="w-25 h-auto"></a>
                <a href="#!Payment.html" class=" text-decoration-none "><img src="/Resource/images/mastercard.png"
                        alt="" class="w-25 h-auto"></a>
                <a href="#!Payment.html" class=" text-decoration-none "><img src="/Resource/images/momo.png" alt=""
                        class="w-25 h-auto"></a>
            </div>
            <div class="col row takeCare">
                <h6>THEO DÕI CHÚNG TÔI TRÊN</h6>
                <a href="#!Contact.html" class=" text-decoration-none "><span><img src="/Resource/images/facebook.png"
                            alt=""></span> Facebook</a>
                <a href="#!Contact.html" class="text-decoration-none "><span><img src="/Resource/images/instagram.png"
                            alt=""></span> Instagram</a>
                <a href="#!Contact.html" class="text-decoration-none "><span><img src="/Resource/images/linkedin.png"
                            alt=""></span>
                    LinkedIn</a>
                <a href="#!Contact.html" class="text-decoration-none "><span><img src="/Resource/images/youtube.png"
                            alt=""></span>
                    Youtube</a>
                <a href="#!Contact.html" class="text-decoration-none "><span><img src="/Resource/images/x.png"
                            alt=""></span> X</a>
            </div>


        </div>

        <hr class="mt-5 mb-5">

        <p class="text-center">Huỳnh Trần Tuấn Kiệt &copy; 2024. All rights reserved.</p>
    </div>

</body>
<script src="/Resource/js/Assignment.js"></script>
<script>
    var app = angular.module("myapp", ["ngRoute"]);

    app.config(function ($routeProvider) {
        $routeProvider
            .when("/Contact.html", { templateUrl: "Contact.html" })
            .when("/ChangePassword.html", { templateUrl: "ChangePassword.html", controller: 'changeCtrl' })
            .when("/Signup.html", { templateUrl: "Signup.html", controller: 'signupCtrl' })
            .when("/Login.html", { templateUrl: "Login.html", controller: 'loginCtrl' })
            .when("/Contact.html", { templateUrl: "Contact.html" })
            .when("/Product.html", { templateUrl: "Product.html", controller: 'productCtrl' })
            .when("/Payment.html", { templateUrl: "Payment.html" })
            .when("/Detail.html", { templateUrl: "Detail.html", controller: 'detailCtrl' })
            .when("/Cart.html", { templateUrl: "Cart.html", controller: 'cartCtrl' })
            .when("/", { templateUrl: "SlideShow.html", controller: 'productCtrl' })
            .otherwise({ redirectTo: '/' })
    });

    app.controller("productCtrl", function ($scope) {

        //thay đổi list đổ sản phẩm khi tìm kiếm
        //gán list đã tìm kiếm thành công (hoặc không) vào list mới, dùng ng-repeat lặp lại trong list mới
        $scope.listsanpham = $scope.$parent.listproducts;

        //xóa từ khóa tìm kiếm trên khung search
        $scope.$parent.searchProduct = "";

        //=========================================================================

        //liên kết đến trang detail khi nhấp vào 1 sản phẩm
        $scope.showProductDetails = function (product) {
            $scope.$parent.selectedProduct = product;
        };



        //tạo mảng bộ lọc
        $scope.checkboxCountry = ["Hàn Quốc", "Mỹ", "Trung Quốc", "Ấn Độ",];


        $scope.checkboxStatus = ["new", "old",];

        //Lọc sản phẩm
        $scope.SubmitFilter = function () {
            // Mảng để lưu trữ các sản phẩm thỏa mãn bộ lọc
            var filteredProducts = [];
            // Duyệt qua mảng listsanpham
            for (var i = 0; i < $scope.listsanpham.length; i++) {
                // chọn 1 sản phẩm để so sánh
                var product = $scope.listsanpham[i];

                // vòng lặp để xác định nơi vận chuyển
                for (var j = 0; j < 4; j++) {
                    //kiểm tra xem checkbox nào được chọn
                    if (product.country.includes($scope.checkboxCountry[j])) {

                        //nếu không tích vào cả 2 check box tình trạng, thì mặc định sẽ là cả 2
                        if (!$scope.checkboxStatus[0] && !$scope.checkboxStatus[1]) {
                            filteredProducts.push(product);
                            break;
                        };

                        //kiểm tra hàng mới
                        if (product.status.includes($scope.checkboxStatus[0])) {
                            filteredProducts.push(product);
                            //nếu có, thoát khỏi vòng lặp, đến sản phẩm mới
                            break;
                        }
                        //kiểm tra hàng cũ
                        else if (product.status.includes($scope.checkboxStatus[1])) {
                            filteredProducts.push(product);
                            break;
                        }
                    }
                };

            }
            // đưa sản phẩm đã lọc lên page
            $scope.listsanpham = filteredProducts;

            //     // Hiển thị các sản phẩm thỏa mãn bộ lọc
            console.log(filteredProducts);
        }
    });

    app.controller("homeCtrl", function ($scope, $location, $route) {

        $scope.muahang = [];

        $scope.buy = 1;

        $scope.user = {};

        //tạo list để đổ dữ liệu lần đầu
        $scope.listproducts = products;

        //tạo biến để lưu từ khóa tìm kiếm
        $scope.searchProduct = "";

        //tạo mảng để in ra kết quả khi tìm kiếm thành công 
        $scope.printFoundProduct = {};

        $scope.SubmitSearch = function (searchProduct) {
            // Sử dụng filter, nhập chính xác từ khóa, hiện thị tất cả các sản phẩm trùng tên với từ khóa tìm kiếm
            $scope.printFoundProduct = $scope.listproducts.filter(function (product) {
                //trả về 1 object $scope.printFoundProduct khi tên trong list sản phẩm trùng với từ khóa đã tìm kiếm
                return product.name === $scope.searchProduct;
            });

            //kiểm tra có tồn tại sản phẩm đã tìm kiếm hay không
            if ($scope.printFoundProduct.length > 0) {
                // gán mảng vừa tìm được vào list tất cả dữ liệu
                $scope.listproducts = $scope.printFoundProduct;

                //chuyển hướng trang đến Product.html, vấn giữ được SPA
                $location.path('/Product.html');
            } else {

                // Nếu không tìm được, nhập từ khóa sai, tự động trả về tất cả dữ liệu 
                $scope.listproducts = products;
                $location.path('/Product.html');
            }
            // QUAN TRỌNG !!! : reload lại SPA để cập nhật lại list
            $route.reload();

        }

        $scope.Signout = function () {
            $scope.user = {};
            alert("Đăng xuất thành công")
        }

    });

    app.controller("signupCtrl", function ($scope, $location, $route) {
        $scope.listuser = users;
        $scope.user = {};
        $scope.CreateAccount = function () {

            if ($scope.listuser.push(angular.copy($scope.user))) {
                alert("Tạo tài khoản thành công");
                $scope.$parent.user = $scope.user;
                $scope.user = {};
                $location.path('/Home.html');
                $route.reload();
            }
            else {
                alert("Tạo tài khoản thất bại");
            }

        }

    });





    app.controller("changeCtrl", function ($scope, $location, $route) {
        $scope.user = {};
        console.log("user ht ");
        console.log($scope.$parent.user);
        $scope.Change = function () {
            if ($scope.$parent.user.username != undefined) {
                //trong database
                $scope.usernow = $scope.$parent.user;

                //người dùng nhập


                if ($scope.user.pass == $scope.usernow.pass && $scope.user.confirmpass == $scope.user.newpass) {
                    var newpass = $scope.user.newpass;
                    $scope.$parent.user.pass = newpass;
                    console.log(" newpass");
                    console.log(newpass);

                    $scope.usernow.pass = $scope.user.newpass;
                    $scope.$parent.user.pass = $scope.usernow.pass;

                    $location.path('/Home.html');
                    $route.reload();
                    alert("Đổi mật khẩu thành công");
                }
                else {
                    alert("Đổi mật khẩu thất bại");
                }

            }
            else {
                alert("Vui lòng đăng nhập");
            }
        }
    });



    app.controller("loginCtrl", function ($scope, $location, $route) {
        $scope.listuser = users;
        $scope.user = {};
        var isLogin = false;
        $scope.Login = function () {
            for (var i = 0; i < $scope.listuser.length; i++) {
                checkUser = $scope.listuser[i];
                if ($scope.user.username == checkUser.username && $scope.user.pass == checkUser.pass) {
                    isLogin = true;
                    break;
                }
            }
            if (isLogin) {
                $scope.$parent.user = $scope.user;
                alert("Đăng nhập thành công");
                $location.path('/Home.html');
                $route.reload();
            }
            else {
                alert("Đăng nhập thất bại");
            }
        }


    });
    app.controller("cartCtrl", function ($scope) {
        var chiso = -1;
        $scope.listmuahang = JSON.parse(sessionStorage.getItem("listmuahang"));
        $scope.DeleteProduct = function (chiso) {
            $scope.listmuahang.splice($scope.index, 1);
        }
        $scope.calculatePrice = function (p, amount) {
            return (p.price - p.price * p.sale / 100) * amount;
        };

        $scope.TinhTongTien = function () {
            var tongtien = 0;
            for (var i = 0; i < $scope.listmuahang.length; i++) {
                tongtien += $scope.calculatePrice($scope.listmuahang[i], $scope.listmuahang[i].amount);
            }
            return tongtien;
        };


    });



    app.controller("detailCtrl", function ($scope) {
        $scope.productDetails = $scope.$parent.selectedProduct;
        console.log("$scope.productDetails");
        console.log($scope.productDetails);
        // $scope.muahang = [];

        $scope.AddToCart = function (product) {
            // Kiểm tra xem sản phẩm đã tồn tại trong giỏ hàng chưa
            var existingProduct = $scope.$parent.muahang.find(function (p) {
                return product.ID === p.ID;
            });

            if (!existingProduct) {
                // Nếu sản phẩm chưa có trong giỏ hàng, thêm vào
                $scope.$parent.muahang.push(angular.copy(product));
                console.log("ss lismuahang :");
                console.log($scope.$parent.muahang);
                // Lưu giỏ hàng vào sessionStorage dưới dạng chuỗi JSON
                sessionStorage.setItem("listmuahang", JSON.stringify($scope.$parent.muahang));

                console.log("$scope.muahang");
                console.log($scope.$parent.muahang);
            } else {
                // Nếu sản phẩm đã có trong giỏ hàng, có thể thực hiện một hành động khác (ví dụ: tăng số lượng)
                console.log("Sản phẩm đã tồn tại trong giỏ hàng");
            }
        }
    });

</script>

<script>
    function updateValue() {
        // Đọc giá trị của thanh trượt
        var slider = document.getElementById("myRange");
        var output = document.getElementById("rangeValue");

        // Hiển thị giá trị trong một phần tử khác
        output.innerHTML = slider.value + " <span class=\"badge bg-warning\">$</span>";
    }
</script>



</html>