* {
  margin: 0 auto;
}
body {
  font-size: medium !important;
}
#navbar-lg {
  position: fixed !important;
  background-color: rgba(15, 15, 15, 0.75) !important;
  backdrop-filter: blur(15px) !important;
  z-index: 1000;
  display: block !important;
}
@media (max-width: 974px) {
  #navbar-lg {
    display: none !important;
  }
  #navbar-sm {
    height: 81.95px;
    display: block !important;
    background-color: rgba(15, 15, 15, 0.75) !important;
    backdrop-filter: blur(15px) !important;
    z-index: 1000;
  }
}

.nav-item > a > img {
  border-radius: 50%;
}
.nav-item > a {
  color: rgba(255, 255, 255, 0.5) !important;
}
.carousel {
  top: 80px;
  position: relative !important;
  z-index: 0 !important;
  object-fit: cover;
}
.carousel > button {
  background-color: darkgray;
  background-color: rgba(15, 15, 15, 0.75) !important;
  backdrop-filter: blur(15px) !important;
  border-radius: 50%;
  height: 100px !important;
  width: 100px !important;
}
.carousel-caption > a {
  z-index: -2 !important;
}

.nav-item > .nav-link > img {
  width: 50px;
  height: 50px;
}

#carouselExample {
  height: fit-content;
}
.carousel-item > a > img {
  height: 500px !important;
  object-fit: cover !important;
}

.icon {
  width: 40px !important;
  height: 40px !important;
}

#offcanvasScrolling {
  background-color: rgba(15, 15, 15, 0.75) !important;
  position: fixed !important;
  width: 60%;
  height: fit-content;
  display: block !important;
  z-index: 1050 !important;
}

.offcanvas-header > button {
  background-color: white !important;
  border-radius: 50%;
  backdrop-filter: blur(15px) !important;
}

.product {
  border: none !important;
  box-shadow: 2px 2px 10px 0px #888888;
  transition: 0.25s;
}
.product:hover {
  border: none !important;
  box-shadow: 10px 10px 15px 0px #888888;
  scale: 1.05;
  transition: 0.25s;
}

a {
  color: rgb(21, 25, 29) !important;
}

.category > img {
  height: 130px !important;
  width: 130px !important;
}

#category {
  margin-bottom: 100px !important;
}

.titleCategory {
  color: white;
  background: linear-gradient(to right, #182943, #0080ff);
}
.titleFlashSale {
  color: white;
  background: linear-gradient(to right, #ec9107, #ff1e00);
}

.takeCare img {
  width: 16px;
  height: 16px;
}

.takeCare a {
  color: rgb(21, 25, 29) !important;
  transition: 0.25s !important;
}
.takeCare a:hover {
  color: rgb(255, 14, 14) !important;
  transition: 0.25s !important;
}

.signUp {
  border: none !important;
  box-shadow: 2px 2px 10px 0px #888888;
  margin-top: 150px !important;

  border-radius: 5px !important;
}

.signUp  header {
  height: 50px;
  border-radius: 5px !important;
  background-color: #4ea4dc;
  top: 20px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gender > div > div{
  margin-left: 10px;
}

#Hinh img{
  width: 32px;
  height: 32px;
}


.table{
  margin-top: 100px;
  vertical-align: middle !important;
}

.productClass{
  margin-top: 100px;
}
.filter>ul>li {
  width: 200px !important;
  text-align: start !important;
}
.filter>ul {
  margin-left: 0px !important;
}

.productDetail{
  margin-top: 100px;
}
fieldset{
  width: 100px !important;
  height: auto !important;
}

