body {
  font-size: medium !important;
  padding: 50px;
}
thead th {
  text-align: center !important;
  vertical-align: middle !important;
  background-color: lightgoldenrodyellow !important;
}
img {
  padding: 5px;
}

.btn-default{
  border-color: gray !important;
  transition: 0.3s !important;
}
.btn-default:hover{
  background-color:darkgray !important;
  border-color: gray !important;
  transition: 0.3s !important;
}

button {
  margin: 10px !important;
}

select {
  font-size: medium !important;
}
input{
  font-size: medium !important;
}

.form-group{
  margin-bottom: 15px !important;
}

